body {
  all: unset;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  --size-margin: 2em;
}

.header {
  background-color: white;
  --header-height: 5vh;
  min-height: var(--header-height, 5vh); 
  margin-inline: var(--size-margin);
  padding-inline: 0; 
}

.header a {
  text-decoration: none;
  color: #222;
}

.ul-header {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
  align-content: center;
}

.ul-header > li {
  padding-left: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.google-logo {
  width: fit-content;
  height: fit-content;
  object-fit: scale-down;
  image-rendering: optimizeQuality;
}

.search-buttons {
  color: rgb(248, 249, 250);
  display: inline-block;
  border-radius: 4px;
}

.footer-flex {
  all: unset;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: fill;
  background-color: #ddd;
  min-height: 10vh;
  padding-inline: 0;
}

#search-bar {
  margin: 30px;
  border-radius: 4vh;
  border-color: #CCC;
  width: 750px;
  font-size: large;
  height: 1.9em;
  object-fit: scale-down;
}

#search-bar:hover {
  box-shadow: 0px 2px 6px 2px #DDD;
}

.footer-ul-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-inline: var(--size-margin);
  padding-inline: 0; 
}

.footer-left {
  justify-content: flex-start;
}

.footer-right {
  justify-content: flex-end;
}

.footer-left li {
  padding-right: 10px;
}

.footer-right li {
  padding-left: 10px;
}

.footer-flex a {
  text-decoration: none;
  color: #444;
}