body {
  font-family: "Roboto";
  font-size: 16px;
}

.header {
  background-color: white;
  min-height: 5vh;
  margin: 0;
  padding: 0;
}

.header a {
  text-decoration: none;
  color: #222;
}

.ul-header {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
}

.ul-header > li {
    padding-left: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
}

.google-logo {
  width: max-content;
  height: max-content;
}

.search-buttons {
  display: inline-block;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: fill;
  background-color: #ddd;
  min-height: 10vh;
}

#search-bar {
  margin: 30px;
  border-radius: 10px;
  height: 1.5em;
  width: calc(35% - 40px);
  max-width: 90%;
}

.footer-ul-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.footer-left {
  justify-content: flex-start;
}

.footer-right {
  justify-content: flex-end;
}

.footer-left li {
    padding-right: 10px;
}

.footer-right li {
    padding-left: 10px;
}

.footer-flex a {
  text-decoration: none;
  color: #444;
}
