body {
  all: unset;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

.all {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: white;
  --header-height: 5vh;
  flex-basis: 100px; 
  margin-inline: 1em; 
  padding-inline: 0; 
}

.header a {
  text-decoration: none;
  color: inherit;
}

.ul-header {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
  color: #444;
  align-items: center;
}

.ul-header > li {
  padding-left: 24px;
}

#apps-icon {
  padding: 0.4em;
}

#apps-icon:hover {
  background-color: rgb(210, 210, 210, 0.3);
  border-radius: 50%;
}

#sign-in-button {
  background-color: rgb(26, 115, 232);
  border: 0;
  border-radius: 5px;
  color: white;
  padding-top: 0.55em;
  padding-bottom: 0.55em;
  padding-left: 27px;
  padding-right: 27px;
  font-size: 14pt;
}

#sign-in-button:hover {
  background-color: rgb(35, 135, 250);
}

#apps-icon {
  display: inline; 
  font-size: 16pt;
  color: rgb(120, 120, 120, 0.85);
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding-bottom: 5vh;
}

.google-logo {
  width: fit-content;
  height: fit-content;
  object-fit: scale-down;
  image-rendering: optimizeQuality;
}

.search-buttons {
  color: rgb(248, 249, 250);
  display: block;
  border: none;
  border-radius: 4px;
  all: unset;
}

.footer-flex {
  all: unset;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: fill;
  background-color: rgb(242, 242, 242);
  border-top: 1px solid rgb(100, 100, 100, 0.15);
  padding-inline: 0;
}

#search-bar {
  margin: 30px;
  border-radius: 4vh;
  border-color: #CCC;
  width: 750px;
  font-size: large;
  height: 1.9em;
  object-fit: scale-down;
}

#search-bar:hover {
  box-shadow: 0px 2px 6px 2px #DDD;
}

#search-bar:focus {
  outline: none;
}

.footer-ul-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-inline: 2.5em; 
  padding-inline: 0; 
}

.footer-left {
  justify-content: flex-start;
}

.footer-right {
  justify-content: flex-end;
}

.footer-left li {
  padding-right: 10px;
}

.footer-right li {
  padding-left: 10px;
}

.footer-flex a {
  text-decoration: none;
  color: #444;
}